.Side {
  background-color: #d6dbdf;
  width: 300px;
  height: 1000px;
  z-index: 999;
  position: fixed;
  top: 0;
  left: -300px;
}
.close {
  position: fixed;
  left: 250px;
  top: 25px;
}
.Side ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
}
.Side a {
  margin-top: 20px;
  color: black;
}
.Side a:hover {
  color: tomato;
}
.h {
  position: relative;
}
.ham {
  position: absolute;
  left: 550px;
  top: -178px;
}
